<table style="
    width: 100%; height: 100px;
    background-color: darkgray;
    color: azure;">
    <tr>
        <td style="
            width: 100%;
            text-align: center;">
            MyCorp - Copyright © 2023
        </td>
    </tr>
    <tr>
        <td>
            <p>
                click here
            </p>
        </td>
    </tr>
</table>