<table>
    <tr>
        <td>
            <h1>Do not worry, we control your password</h1>
        </td>
    </tr>
    <tr>
        <td>
            <p>Please click on the link below to confirm forgot password:</p>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{frontUrl}}/restore-password/{{actionToken}}">RESTORE</a>
        </td>
    </tr>
</table>