<table>
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{name}}, welcome on our platform!
        </td>
    </tr>
    <tr>
        <td style="font-size: 18px; text-align: center;">
            <p>You need submit your email, please click on link</p>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{frontUrl}}/activate/{{actionToken}}">
                <b>it`s link</b>
            </a>
        </td>
    </tr>
</table>