<table>
    <tr>
        <td>
            <h1>{{name}} come back to us</h1>
        </td>
    </tr>
    <tr>
        <td>
            <p>You have not been on our resource for a long time. Come back to us, we are waiting for you.</p>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{frontUrl}}/login">return to the resource</a>
        </td>
    </tr>
</table>